.row {
    display: flex;
    flex-direction: row
}

.column {
    display: flex;
    flex-direction: column
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    vertical-align: baseline;
    font: normal Iosevka, monospace;
    color: inherit;
}

body {
    background: #111;
    color: #ccc;
    font: normal Iosevka, monospace;
    font-size: 20px;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.panel {
    margin:auto;
    width: max-content;
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgba(73, 73, 73, 0.1);
}

.img-container{
    margin:auto;
    width: max-content;
    margin-top: 15%;
}

.img1{
    width: 250px;
    
}

.panel>*:nth-child(odd) {
    margin-right: 1rem;
    font-weight: bold;
    color: #fff
}

@media(orientation: landscape) {

}

@media(orientation: portrait) {
    .panel>*:nth-child(1n+3) {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .img-container{
        margin-top: 55%;
    }
    *{
        font-size: 16px;
    }
}

@media (min-width:576px) {

    .img-container{
        margin-top: 0%;
    }
}

@media (min-width:768px) {

}

@media (min-width:992px) {
    .img-container{
        margin-top: 15%;
    }
}

@media (min-width:1200px) {
    .img-container{
        margin-top: 15%;
    }
}